fastapi
uvicorn
python-dotenv
openai

langchain
langchain-openai
langchain-community
langchain-core
langchain-anthropic
langchain-pinecone

chromadb
pinecone
tiktoken

pydantic

streamlit
requests

pytest